.about-me h2 {
    color: white;
    height: 120px;
    margin: 0;
    /* top: 10px;
    left: 10px; */
    font-size: 50px;
    padding: 30px;
    box-sizing: border-box;
    flex-grow: 0;
}



.about-me {
    color: white;
    height: 100vh;
    width: 100%;
    background-image: url("../images/2color-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* box-sizing: border-box; */
    overflow: auto;
    background-attachment: fixed;
    padding: 0px 16px 0px 0px;
    overflow: visible;
}

.about-me-field {
    width: 90%;
    height: calc(100% - 120px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 9;
 
}

#self-intro {
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    opacity: 0;
}

.profile-pic img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(222, 222, 222);
    /* top: -30px; */
}

#self-intro .text{
 
    font-size: 19px;
    width: 60%;
    max-width: 700px;
    min-width: 300px;
}

#skills-section {
    width: 80%;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 9;
    margin-left: auto;
    vertical-align: middle;
}

.skill-list {
    margin-top: -20px;
    flex-grow: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row {
   display: flex;
   flex-grow: 1;
   opacity: 0;
}

.row li {
    width: 20%;
}

.about-me-appear {
    animation: fade-in 2s forwards;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@media all and (min-height: 800px) {
    #skills-section h2{
        margin-top: 10vh;
    }
}

.contact-me {
    padding: 10px 20px;
    background-color: rgb(126, 215, 215);
    border-radius: 5px;
    width: 120px;
}

.contact-me:hover, .resume-button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.25s ease-in-out;
}

.resume-button {
    padding: 10px 20px;
    background-color: rgb(126, 215, 215);
    border-radius: 5px;
    width: 120px;
    margin-top: 20px;
    margin-left: 30px;
    text-align: center;
}