.about-me {
    height: 100vh;
    width: 100%;
    background-image: url("../images/2color-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* box-sizing: border-box; */
    overflow: auto;
    background-attachment: fixed;
    padding: 0px 16px 0px 0px;

}
