.projects {
    height: 100%;
    background-image: url("../images/2color-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px 16px 0px 0px;
    width: 100%;
    /* display: grid;
    grid-template-columns: 12.5% 25% 25% 25% 12.5%; */
    overflow:hidden;
    background-attachment: fixed;
}

.project-field {
    width: 80%;
    margin: 0 auto;
}

.projects h2 {
    color: white;
    margin: 0;
    font-size: 50px;
    padding: 50px 40px;
}

.fs-img {
    border-radius: 5px;
    overflow: hidden;
    background-image: url("../images/fs.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-1000px);
}

#fs-project {
    min-width: 600px;
    min-height: 420px;
    width: 50vw;
    height: 35vw;
    max-width: 800px;
    max-height: 560px;
    color: white;
    overflow: hidden;
    border-radius: 5px;
    left: 0;
    /* margin-left: 10%; */
    box-sizing: border-box;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    
}

#fs-project .text-container, #js-project .text-container {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: -44px;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateX(200%);
    transition: all 0.5s ease-in-out;
}

#mern-project .text-container {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: -44px;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateX(-2000px);
    transition: all 0.5s ease-in-out;
}

#fs-project .underscore, #js-project .underscore{
    margin-top: -55%;
    width: 100%;
    height: 4px;
    border-bottom: 4px solid white;
    transform: translateX(-100%);
    z-index: 10;
}

#mern-project .underscore {
    margin-top: -55%;
    width: 100%;
    height: 4px;
    border-bottom: 4px solid white;
    transform: translateX(200%);
    z-index: 10;
}


#fs-project:hover .fs-img .text-container,
#mern-project:hover .mern-img .text-container,
#js-project:hover .js-img .text-container {
    opacity: 1;
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
}

#fs-project:hover  .fs-img .underscore,
#mern-project:hover  .mern-img .underscore,
#js-project:hover  .js-img .underscore {
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
}

.fs-bullet-points {
    position: absolute; 
    left: 65vw;
    margin-top: 10%;
    font-size: 24px;
    z-index: 11;
}
.js-bullet-points {
    position: absolute; 
    left: 57vw;
    margin-top: 10%;
    font-size: 24px;
    z-index: 11;
}
/* test */
/* .js-bullet-points li, .mern-bullet-points li {
    position: absolute; 
} */

.mern-bullet-points {
    position: absolute; 
    left: -230px;
    margin-top: 10%;
    font-size: 24px;
    z-index: 11;
}

.fs-bullet-points li, 
.mern-bullet-points li,
.js-bullet-points li{
    margin-bottom: 5px;
    opacity: 0;
}

#fs-project:hover .fs-bullet-points li,
#mern-project:hover .mern-bullet-points li,
#js-project:hover .js-bullet-points li {
    animation: fade-in 2s forwards;
}

@media all and (max-width: 1100px) {
    .fs-bullet-points {     
        left: 750px;
    }

    .js-bullet-points{     
        left: 680px;
    }


    .mern-bullet-points {
        left: -170px;
    }
}

@media all and (max-width: 770px) {

    .mern-bullet-points {
        display: none;
    }
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.projects h3 {
    font-size: 44px;
    padding-top: 40px;
}

.links a {
    margin-right: 10px;
    font-size: 24px;
    margin-top: 10%;
    text-decoration: underline;
}

.links a:hover {
    padding: 5px 20px;
    background-color: rgb(126, 215, 215);
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
}

.links {
    margin-top: 5%;
}

.projects p {
    margin-top: 10%;
    font-size: 24px;
    line-height: 30px;
    padding: 20px;
}


.mern-img {
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-image: url("../images/mern.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transform: translateX(1000px);
    overflow: hidden;
}




#mern-project {
    margin-top: 40px;
    min-width: 600px;
    min-height: 420px;
    width: 50vw;
    height: 35vw;
    max-width: 800px;
    max-height: 560px;
    color: white;
    /* overflow: hidden; */
    border-radius: 5px;
    margin-left: auto;
    box-sizing: border-box;
    margin-top: 40px;
    position: relative;
}

.js-img {
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-image: url("../images/bc.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transform: translateX(-200%);
    overflow: hidden;
}

#js-project {
    margin-top: 40px;
    min-width: 600px;
    min-height: 420px;
    width: 50vw;
    height: 35vw;
    max-width: 800px;
    max-height: 560px;
    color: white;
    /* overflow: hidden; */
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 40px;
}


.appear {
   transform: translateX(0);
   transition: all 0.5s ease-in-out;
}


